/* MAIN */

html, body{
    margin:0px;
    padding:0px;
    background-color:#f2f2f2;
}

/* unvisited link */
a:link,a:visited,a:active {
  color: #202020;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #E3B232;
  text-decoration: none;

}
.errorlist{
  color:red;
  font-weight:bold;
}

.navbar {
    padding-left: 5em;
    padding-right: 15em;
}

input[type="text"], input[type="password"],input[type="email"]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;

    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABHklEQVQ4EaVTO26DQBD1ohQWaS2lg9JybZ+AK7hNwx2oIoVf4UPQ0Lj1FdKktevIpel8AKNUkDcWMxpgSaIEaTVv3sx7uztiTdu2s/98DywOw3Dued4Who/M2aIx5lZV1aEsy0+qiwHELyi+Ytl0PQ69SxAxkWIA4RMRTdNsKE59juMcuZd6xIAFeZ6fGCdJ8kY4y7KAuTRNGd7jyEBXsdOPE3a0QGPsniOnnYMO67LgSQN9T41F2QGrQRRFCwyzoIF2qyBuKKbcOgPXdVeY9rMWgNsjf9ccYesJhk3f5dYT1HX9gR0LLQR30TnjkUEcx2uIuS4RnI+aj6sJR0AM8AaumPaM/rRehyWhXqbFAA9kh3/8/NvHxAYGAsZ/il8IalkCLBfNVAAAAABJRU5ErkJggg==");
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px;
    background-position: 98% 50%;
    cursor: auto;
}


.btn-search{
    border-color: #E3B232;
    color: #E3B232;
}

.btn-search:hover{
    border-color: #F4C332;
    color: #E3B232;
}


/* LOGIN/REGISTER */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.login-button {
    border-radius:30px;
    background-color: #E3B232;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
    margin-top:10px;
    margin:0 auto;
    display:block;
}

login-button:hover {
  opacity: 0.8;
}


input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}


.loginpage{
padding-top: 5%;
padding-left:15%;
padding-right:15%;
padding-bottom:7%;
}
.loginpage:after {
  content: "";
  display: table;
  clear: both;


}

.column {
  float: left;
  width: 50%;
  height:auto;
  padding: 10px;
  min-height: 350px;
  }

#leftpage{
background-color:rgb(230, 232, 230);
border-radius: 15px;
  margin-top:25px;
}

#rightpage{

border-radius: 15px;
  margin-top:25px;
}

.registration_page_img{
    height:50px;
    width:50px;
    clear: both;
    margin-bottom:1%;
    margin-right:10px;
    position: relative;
}

.registration_right_page_login{
    padding:10px;
}


/* INDEX */

.container{
    padding-top: 2%;
}

.card{
    margin: 1% 1% 1% 2%;
}

card:hover{

}

#categories a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;


  padding: 15px 20px;
  position: relative;
}
#categories a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
#categories a:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}


.add-cart{
float: right;
margin-top: -15%;
}

.add-cart .fas{
    font-size:25px;
}


.add-cart:hover{
color: #E3B232;
}



/* FAQ */

.main-color{
   color: #F4C332;
}


#faq u {
   color: #F4C332;
}


.fa-social {
  font-size: 30px;
  width: 30px;
  margin: 5px 2px;
}

.fa-social:hover {
    opacity: 0.7;
}



/* Zamowienia */

#profile-list ul{
  list-style-type: none;
  padding-top: 25px;
}

#profile-list li{
    margin-bottom: 20px;
}

#profile-list li:hover{
    margin-bottom: 20px;
    capacity: 50%;
}