{% extends 'main.html' %}
{% block title %} WypGier {% endblock %}
{% block body %}
{% load static %}

<div class="container">
<!--Section: FAQ-->
<section id="faq">
  <h3 class="text-center mb-5 pb-2 fw-bold main-color">PYTANIA I ODPOWIEDZI</h3>

  <div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3"><i class="far fa-clock"></i> Czy mogę przedłużyć czas wypożyczenia?</h6>
      <p>
        <strong><u>Skontaktuj się z nami.</u></strong> Sprawdzimy czy nikt nie zarezerowował danej gry po Tobie, jeśli nie to nic nie stoi na przeszkodzie.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3"><i class="far fa-credit-card"></i> Jakie są formy płatności?</h6>
      <p>
        <strong><u>Przyjmujemy kartę jak i gotówkę.</u></strong> Podczas składania zamówienia możesz wybrać wygodną formę płatności dla Ciebie.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3"><i class="fas fa-user pe-2"></i>Czy muszę zakładać konto żeby wypożyczyć grę
      </h6>
      <p>
        <strong><u>Tak.</u></strong> Założenie konta jest wymagane do zakupienia gry.
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3"><i class="far fa-sad-tear"></i> Niechcący zniszczyłem grę, co teraz?
      </h6>
      <p>
        <strong><u>Napisz do nas.</u></strong> Do każdej sprawy podchodzimy indywidualnie, razem na pewno coś wymyślimy!
      </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3"><i class="fas fa-home pe-2"></i> Czy wypożyczając parę gier płacę raz za przesyłke?
      </h6>
      <p><strong><u>Oczywiście!</u>.</strong> Zapłać raz za przesyłkę i wypożycz tyle gier na ile masz ochotę!</p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
      <h6 class="mb-3"><i class="fas fa-book-open pe-2"></i> Chcesz nas zapytać o coś jeszcze?</h6>
      <p>
        <strong><u>Czekamy na kontakt.</u></strong> Skorzystaj z e-mail lub z naszego chatu!
      </p>
    </div>
  </div>
      <p class="text-center mt-5">
    Twojego pytania nie ma na liście? Napisz do nas na <a href="mailto:dice@play.com">dice@play.com</a> lub na naszym czacie ;)
  </p>
</section>
<!--Section: FAQ-->
  </div>
{% endblock %}