{% extends 'main.html' %}
{% block title %} WypGier {% endblock %}
{% block body %}
{% load static %}

<div class="row h-100">
    <div class="col-2 categories h-100">
        <nav class="navbar p-3">
            <h3>Kategorie gier</h3>
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"> Gry rodzinne  </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Gry imprezowe </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Gry strategiczne </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Gry kooperacyjne </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Gry zręcznościowe </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"> Gry ekonomiczne </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col news-box">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://satysfakcja.stati.pl/allegro_new/ZABAWKI/SPINMASTER/6046542/f1-spin-master-jumanji-gra-planszowa-przygodowa.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://www.zielonezabawki.pl/zun_pl_Gra-planszowa-Wyscigi-gesi-J02743-Janod-gra-dla-dzieci-23120_5.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://cdn.shopify.com/s/files/1/0268/5757/0437/products/2d7509b2b0e05460a7364ccdabc3e5a6_1024x.jpg?v=1581875125" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
    </div>
</div>

{% endblock %}