{% extends 'main.html' %}
{% block title %} WypGier {% endblock %}
{% block body %}
{% load static %}



<div class="container">
  <div class="row recommended">
            <h3 class="pt-5">{{category.category_name}}</h3>
            <hr/>
{% for product in products %}
      {% if category.id == product.category.id %}
<div class="card col-4 col-lg-3" style="width: 18rem;">

            <a href="/produkt/{{product.id}}"><img src="{{ product.image.url }}" class="card-img-top d-block w-100"
                                                  alt="..."></a>
            <div class="mt-auto p-2">
                <h5 class="card-title"><a href="/produkt/{{product.id}}">{{product.title}}</a></h5>
                <div>
                    <div class="justify-content-start">
                        <span class="card-text ">{{product.price}}/dzień</span>
                    </div>
                    <div class="add-cart align-text-end p-3">
                        <a href="{% url 'insertproduct' productname=product%}"><i class="fas fa-cart-plus"></i></a>
                    </div>
                </div>
            </div>
        </div>
      {% endif %}
{% endfor %}
</div>
</div>


{% endblock %}

