{% extends 'main.html' %}
{% block title %} Login {% endblock %}
{% block body %}
{% load static %}

<div class="container">

  <div class="row" onload="updateSubTotal">
    <div class="col-5 m-3" style="background-color: white;">
        <table class="table" id="basketTable">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Image</th>
              <th scope="col">Nazwa produktu</th>
              <th scope="col">ilość</th>
              <th scope="col">cena</th>
            </tr>
          </thead>
          <tbody>
          {% for data in show_basket %}
            <tr>

              <th scope="row">{{data.id}}</th>
              <td><img src="{{ data.product.image.url }}" class="d-block w-100 px-5" alt="..."></td>
              <td>{{data.product.title}}</td>
              <td>{{data.amount}}</td>
              <td>{{data.product.price}}zł</td>

            </tr>
          {% endfor %}

          <td><hr/></td>
          <td><hr/></td>
          <td><hr/></td>
          <td>SUMA:</td>

          <td><span id="sumOfProducts"></span></td>

          </tbody>

        </table>
        <p>Wartość zamówienia:</p>
          <p>W tym vat:</p>
          <p>Kwota dostawy:</p>
          <p>Do zapłaty:</p>



         </div>
      <div class="col-3 m-1 pt-5" onload="whenDelivery" style="background-color: white;">

            <p><i class="fas fa-undo-alt"></i> Zwrot w dowolnej chwili</p>
            <p><i class="fas fa-boxes"></i> Zapłać raz za wysyłkę</p>
            <p><i class="far fa-clock"></i> Nieograniczony czas zwrotu</p>
            <p><i class="far fa-smile"></i> Gwarantowan zabawa</p>
            <p><i class="fas fa-truck float-start pt-1"></i>
            <span class="float-start mx-1" id="deliveryInfo"></span></p>
          <p><input type="button" class="float-md-end btn btn-success mt-5"  value="Zamów"></p>
      </div>
        <div id="profile-list" class="col-3 m-2"style="background-color: white;">
           <ul>
               <a href="/"><li>Strona główna</li></a>
               <hr/>
               <a href="/profil"><li>Profil</li></a>
               <hr/>
               <a href="/haslo"><li>Zmień hasło</li></a>
               <hr/>
               <a href="/zamowienia"><li>Zamówienia</li></a>
               <hr/>
               <a href="/logout"><li>Wyloguj</li></a>
           </ul>
        </div>

    </div>
  </div>




{% endblock %}