{% extends 'main.html' %}
{% block title %} Login {% endblock %}
{% block body %}
{% load static %}

<div class="container">

  <div class="row">

        <div class="col-8 m-3 p-3" style="background-color: white;">
            <h3 class="pt-2">Koszyk</h3>
            <hr/>
            <table class="table" id="basketTable">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col" >Nazwa produktu</th>
                    <th scope="col" class='col-sm-1'>cena</th>
                    <th scope="col" class='col-sm-1'></th>
                </tr>
                </thead>
                <tbody>
                {% for data in show_basket %}
                    {% if data.user.id == user.id %}
                        {% for product in data.product.all %}
                        <tr>
                            <td><a href="/produkt/{{product.id}}"><img src="{{ product.image.url }}" class="d-block w-50 px-5" alt="..."></a></td>
                            <td><a href="/produkt/{{product.id}}">{{ product.title }}</a></td>
                            <td>{{ product.price }} zł</td>
                            <td>
                            <form class="d-flex pt-3" METHOD="post" action="{% url 'deleteid' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ product.id }}" name="getidtoDelete">
                                <button class="btn btn-danger" type="submit"><i class="fas fa-trash-alt"></i></i>
                            </button>
                            </form>
                            </td>
                        </tr>
                        <td><hr/></td>

                        {% endfor %}
                    {% endif %}
                {% endfor %}
                <td>
                    <hr/>
                </td>
                <td>SUMA:</td>
                <td><span id="sumOfProducts"></span></td>
                </tbody>
            </table>
            <input type="button" class="float-md-end btn btn-success" value="Zamów">
        </div>
        <div id="profile-list" class="col-3 m-2">
            <div class="py-3" style="background-color: white;">
                <ul>
                    <a href="/">
                        <li>Strona główna</li>
                    </a>
                    <hr/>
                    <a href="/profil">
                        <li>Profil</li>
                    </a>
                    <hr/>
                    <a href="/haslo">
                        <li>Zmień hasło</li>
                    </a>
                    <hr/>
                    <a href="/zamowienia">
                        <li>Zamówienia</li>
                    </a>
                    <hr/>
                    <a href="/logout">
                        <li>Wyloguj</li>
                    </a>
                </ul>
            </div>

            <div class="my-3 py-3" style="background-color: white;">
                <ul>
                    <p style="font-weight: bold; font-size: large;">Podsumowanie:</p>
                    <p class="pt-2">Wartość zamówienia: <span id="sumOfProducts2"></span></p>
                    <p>W tym vat: <span id="vat"></span></p>
                    <p>Kwota dostawy: 0.00zł</p>
                    <p class="text-success">Do zapłaty: <span id="toPay"></span></p>

                    <p><input type="button" class="float-md-start btn btn-success " value="Zamów"></p>
                    <br>
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}
