{% load static %}

<html lang="pl">
<head>
    <script src="https://kit.fontawesome.com/9319ce92b6.js"></script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>DicePlay</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
<nav class="navbar navbar-expand-lg" style="background-color: white;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"><img style="width:8em;" class="img-fluid" src="{% static 'img/logo.png'%}">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <form class="d-flex pt-3">
            <input class="form-control me-2" type="search" placeholder="Jakiej gry szukasz?" aria-label="Search">
            <button class="btn btn-outline" type="submit">Szukaj</button>
        </form>
        <div class="row text-center pt-3">
            <div class="row">
                <div class="col">
                    <span class="fa fa-user"></span>
                    <p>Konto</p>
                </div>
                <div class="col">
                    <span class="fa fa-shopping-cart"></span>
                    <p>Koszyk</p>
                </div>
                <div class="col">
                    <div class="row text-center">
                        <span class="fa fa-question-circle"></span>
                        <p>Pomoc</p>
                    </div>

                </div>
            </div></div>
        </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light shadow">
    <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="#">Gry imprezowe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Gry zręcznościowe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Gry dla dzieci</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Gry strategiczne</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Gry kooperacujne</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Gry RPG</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Puzzle</a>
        </li>
    </ul>
</nav>


{% block body %} {% endblock %}


<script src="{% static 'js/script.js' %}"></script>


</body>
</html>