{% extends 'main.html' %}
{% block title %} Login {% endblock %}
{% block body %}
{% load static %}

<div class="container my-5">
    <div class="row">
        <div class="col-8 py-4 border border-2 rounded" style="background-color:#fff" >
            <div class="row">

                <div class="col-7">
                    <img src="{{ show_product.image.url }}" class="d-block w-100 px-5" alt="...">

                </div>

                <div class="col pt-5" style="background-color:#fff">
                    <h2>{{show_product.title}}</h2>
                    {% if user.is_superuser %}
                        <div class=" position-relative align-text-end end-0 p-1">
                            <form METHOD="post" action="{% url 'gametodelete' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ product.id }}" name="getidtodel">
                                 <button class="btn btn-danger" type="submit"><i class="fas fa-trash-alt"></i></button>
                            </form>
                        </div>
                    {% endif %}
                    <h5>ocena <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                            class="fas fa-star"></i><i class="fas fa-star-half"></i></h5>
                    <hr>
                    <p class="pt-2">Kategoria: {{show_product.category}}
                    <p>
                    <p class="">Wiek: 3+</p>
                </div>
            </div>
            <div class="mx-3">
                <div class="py-1">
                    <h3 class="pt-5">Opis</h3>
                    <hr/>
                    {{show_product.description | safe}}
                </div>

                <div class="py-3">

                    <h3 class="pt-5">Oceny <span class="text-secondary">({{rating_count}} ocen)</span></h3>
                    <hr/>
                    {% for rate in rating %}
                    <div class="">
                        <h5>{{rate.user.username}} ({{rate.created_on}}) ({{rate.stars}}<i style="color: gold;" class="fas fa-star"></i>)</h5>
                        <p>{{rate.text}}</p>
                    </div>

                    {% endfor %}



                    <h5>Dodaj opinię:</h5>
                    </div>
                    <form METHOD="post" action="{% url 'dodajOpinie' %}">
                    {% csrf_token %}
                        <select name="categories">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option selected="selected" value="5">5</option>
                        </select>
                        <textarea class="form-control" rows="3" name="dodajOpiniefield"></textarea>
                        <input type="hidden" value="{{show_product.id}}" name="idproduct">
                        <button type="submit" class="btn btn-success mt-3"><i class="fas fa-comment"></i> Opublikuj opinię</button>
                    </form>

            </div>
        </div>


        <div class="col mx-5 p-5 border border-2 rounded mb-auto" style="background-color:#fff">
            {% if show_product.amount %}
            <h2>{{show_product.price}}/dzień</h2>
            <p class="text-success mb-4"><i class="far fa-check-circle"></i> {{show_product.amount}}</p>
            <p><i class="fas fa-undo-alt"></i> Zwrot w dowolnej chwili</p>
            <p><i class="fas fa-boxes"></i> Zapłać raz za wysyłkę</p>
            <p><i class="far fa-clock"></i> Nieograniczony czas zwrotu</p>
            <p><i class="far fa-smile"></i> Gwarantowana zabawa</p>
            <p><i class="fas fa-truck float-start pt-1"></i> Darmowa dostawa</p>
            <i class="fas fa-truck float-start pt-1"></i>
            <div class="float-start mx-1" id="deliveryInfo"></div>
            <form class="d-flex pt-3" METHOD="post" action="{% url 'searchid' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ show_product.id }}" name="getid">
                <button type="submit" class="btn btn-success btn-lg btn-block mt-4 "><i class="fas fa-cart-plus"></i> Dodaj do koszyka
                </button>
            </form>

            {% else %}
            <p class="text-secondary"><i class="far fa-times-circle"></i> Produkt niedostpępny</p>
            <button type="button" class="btn btn-secondary btn-lg btn-block"> Poszukaj innych gier</button>
            {% endif %}
        </div>
    </div>


</div>

{% endblock %}
