{% extends 'main.html' %}
{% block title %} Login {% endblock %}
{% block body %}
{% load static %}

<div class="container m-5" style="background-color:#fff" >
    <div class="row">
        <div class="col-6">
            <img src="{{ show_product.image.url }}" class="d-block w-100 px-5" alt="...">
        </div>
        <div class="col pt-3">
            <h2>{{show_product.title}}</h2>
            <h4 class="pt-3">{{show_product.amount}}</h4>
            <h4 class="pt-3">Kategoria: {{show_product.category}}</h4>
            <h4 class="pt-3">Wiek: {{show_product.age}}+</h4>
        </div>
        <div class="col mt-5 pt-5">
            <h2 class="">{{show_product.price}}/dzień</h2>
            <button type="button" class="btn btn-success btn-lg btn-block"><i class="fas fa-cart-plus"></i> Dodaj do koszyka</button>
        </div>
    </div>

    <div class="py-3">
        <h3 class="pt-5">Opis</h3>
            <hr/>
        {{show_product.description}}
    </div>
</div>

    {% endblock %}
