{% extends 'main.html' %}
{% block title %} Login {% endblock %}
{% block body %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-8 m-2" style="background-color: white;">
            <h3 class="pt-2">Profil</h3>
            <hr/>
            {% for data in userDetails %}
            <div class="row">
                <div class="col">
                    <h3>Dane</h3>
                    <h5>Imię: {{user.first_name}}</h5>
                    <h5>Nazwisko: {{user.last_name }}</h5>
                    <h5>E-mail: {{data.user.email}}</h5>
                    <h5>Telefon: {{data.phone}}</h5>
                </div>
                <div class="col">
                    <h3>Adres</h3>
                    <h5>Ulica: {{data.street}}</h5>
                    <h5>Numer domu/mieszkania: {{data.numberOfHouse}}</h5>
                    <h5>kod pocztowy: {{data.postCode}}</h5>
                    <h5>Miasto: {{data.city}}</h5>
                </div>
            </div>

            <a href="/edycjaProfilu/"><button type="submit" class="m-3 btn btn-search">Zmień Dane</button></a>
                 {% endfor %}

        </div>
        <div id="profile-list" class="col-3 m-2"style="background-color: white;">
           <ul>
               <a href="/"><li>Strona główna</li></a>
               <hr/>
               <a href="/profil"><li>Profil</li></a>
               <hr/>
               <a href="/haslo"><li>Zmień hasło</li></a>
               <hr/>
               <a href="/zamowienia"><li>Zamówienia</li></a>
               <hr/>
               <a href="/logout"><li>Wyloguj</li></a>
           </ul>
        </div>
    </div>
</div>

{% endblock %}
