{% extends 'main.html' %}
{% block title %} WypGier {% endblock %}
{% block body %}
{% load static %}
<div class="container">
    <div class="row recommended">

        {% if searched %}
        <h3 class="pt-5">Szukasz: "{{searched}}" <span class="text-secondary">({{product_count}} wyników)</span></h3>
                    <hr/>
            
            {% for product in product|slice:"8" %}
        <div class="card col-4 col-lg-3" style="width: 18rem;">

            <a href="produkt/{{product.id}}"><img src="{{ product.image.url }}" class="card-img-top d-block w-100"
                                                  alt="..."></a>
            {% if user.is_superuser %}
            <div class="position-absolute align-text-end end-0 p-1">

            <form METHOD="post" action="{% url 'gametodelete' %}">
                {% csrf_token %}
                <input type="hidden" value="{{ product.id }}" name="getidtodel">
                 <button class="btn btn-danger" type="submit"><i class="fas fa-trash-alt"></i></button>
            </form>

                </div>
            {% endif %}
            <div class="mt-auto p-2">
                <h5 class="card-title"><a href="produkt/{{product.id}}">{{product.title}}</a></h5>
                <div>
                    <div class="justify-content-start">
                        <span class="card-text ">{{product.price}}/dzień</span>
                    </div>
                    <div class="add-cart align-text-end p-3">

                        <form class="d-flex pt-3" METHOD="post" action="{% url 'searchid' %}">
                            {% csrf_token %}
                            <input type="hidden" value="{{ product.id }}" name="getid">
                            <button class="btn btn-success" type="submit"><i class="fas fa-cart-plus"></i>
                        </button>
                        </form>



                    </div>
                </div>
            </div>
        </div>

            {% endfor %}
        {% else %}
        <h1>Niczego nie szukasz!</h1>
        <h2>Wpisz w wyszukiwarce co chcesz znaleźć, np "Puzzle"</h2>
        {% endif %}
    </div>
</div>
{% endblock %}
